<!DOCTYPE html>
<html lang="cn">
<head>
  <title>{{ layoutOptions.title }}</title>
  <meta name="keywords" :content="layoutOptions.keywords">
  <meta name="description" :content="layoutOptions.description">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" v-for="item in layoutOptions.css" :href="item.href">
</head>
<body>
  <script v-for="item in layoutOptions.js" :src="item.src"></script>

  <div id="app"><!--vue-ssr-outlet--></div>
</body>
</html>