<!DOCTYPE html>
<html lang="cn">
<head>
  <title>{{ layoutOptions.title }}</title>
  <meta name="keywords" :content="layoutOptions.keywords">
  <meta name="description" :content="layoutOptions.description">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id="app"><!--vue-ssr-outlet--></div>
</body>
</html>